// Include other config files
includeConfig 'conf/modules.config'
includeConfig 'conf/base.config'
includeConfig 'conf/params.config'
includeConfig 'conf/profiles.config'

// Define workflow metadata
manifest {
    name            = 'profiler_sourmash'
    author          = 'Ton Ngoc Minh Quan'
    homePage        = 'https://github.com/tnmquann/profiler_sourmash'
    description     = 'Metagenomics profiling pipeline using sourmash'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}

// Trace settings
trace {
    enabled = false
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,peak_rss,peak_vmem,container'
}

params {
    publish_dir_mode = 'copy'
}