params {
    // Input options
    input = null               // Path to input CSV file
    trimmed_fastq = null      // For backwards compatibility
    input_format = 'csv'      // Format of input: 'csv' or 'directory'
    
    // Directory structure
    base_dir = "/mnt/data1/quantnm/workflow/profiler_sourmash"
    outdir = "${params.base_dir}/results"
    merged_seq_dir = "${params.outdir}/Merged sequences"
    sketches_dir = "${params.outdir}/Sourmash - YACHT/sketches"
    yacht_results_dir = "${params.outdir}/Sourmash - YACHT/"
    fastmultigather_dir = "${params.outdir}/Sourmash - YACHT/"
    processed_results_dir = "${params.outdir}/Sourmash - YACHT/"

    // Tool parameters
    ksize = 31
    sourmash_database = "/mnt/data1/quantnm/database/gtdb/gtdb-rs220/gtdb-rs220-reps.k31.rocksdb"
    yacht_database = "/mnt/data1/quantnm/database/gtdb/gtdb-rs220/gtdb-rs220-reps.k31_0.995_pretrained/gtdb-rs220-reps.k31_0.995_pretrained_config.json"
}

// Process resource configuration
process {
    cpus = 20
    memory = '60 GB'
    time = '24h'
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'terminate' }
    maxRetries = 3

    withLabel: process_low {
        cpus = 2
        memory = '4 GB'
        conda = "${projectDir}/env/read_based.yaml"
    }
    withLabel: process_medium {
        cpus = 16
        memory = '32 GB'
        conda = "${projectDir}/env/read_based.yaml"
    }
    withLabel: process_high {
        cpus = 20
        memory = '60 GB'
        conda = "${projectDir}/env/read_based.yaml"
    }
}

// Executor configuration
executor {
    name = 'local'
    queueSize = 8
}