// conf/modules.config
process {
    withName: 'MERGE_SEQUENCES' {
        label = 'process_low'
        conda = "${projectDir}/env/read_based.yaml"
    }
    
    withName: 'SOURMASH_MANYSKETCH' {
        label = 'process_medium'
        conda = "${projectDir}/env/read_based.yaml"
    }
    
    withName: 'SOURMASH_FASTMULTIGATHER' {
        label = 'process_high'
        conda = "${projectDir}/env/read_based.yaml"
    }
    
    withName: 'YACHT' {
        label = 'process_high'
        conda = "${projectDir}/env/read_based.yaml"
    }
    
    withName: 'PROCESS_RESULTS' {
        label = 'process_medium'
        conda = "${projectDir}/env/read_based.yaml"
    }
}