// conf/modules.config
process {
    withName: 'FASTQC_RAW' {
        publishDir = [
            [
                path: { "${params.qc_raw_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "*_fastqc.{html,zip}"
            ],
            [
                path: { "${params.qc_raw_dir}" },
                mode: params.publish_dir_mode,
                pattern: "versions.yml"
            ]
        ]
    }

    // withName: 'MULTIQC_RAW' {
    //     publishDir = [
    //         [
    //             path: { "${params.qc_raw_dir}/MultiQC" },
    //             mode: 'copy',
    //             pattern: "*multiqc_report.html",
    //             saveAs: { "raw_shortreads_multiqc_report.html" }
    //         ]
    //     ]
    // }

    withName: 'FASTP' {
        publishDir = [
            [
                path: { "${params.trim_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.trim_dir}/${meta.id}/report" },
                mode: 'copy',
                pattern: "*.{json,html}"
            ],
            [
                path: { "${params.trim_dir}" },
                mode: params.publish_dir_mode,
                pattern: "versions.yml"
            ]
        ]
    }

    withName: 'FASTQC_TRIMMED' {
        publishDir = [
            [
                path: { "${params.qc_trim_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "*_fastqc.{html,zip}"
            ],
            [
                path: { "${params.qc_trim_dir}" },
                mode: params.publish_dir_mode,
                pattern: "versions.yml"
            ]
        ]
    }

    // withName: 'MULTIQC_TRIMMED' {
    //     publishDir = [
    //         [
    //             path: { "${params.qc_trim_dir}/MultiQC" },
    //             mode: 'copy',
    //             pattern: "*multiqc_report.html",
    //             saveAs: { "trimmed_shortreads_multiqc_report.html" }
    //         ]
    //     ]
    // }

    withName: 'HOSTILE_CLEAN' {
        publishDir = [
            [
                path: { "${params.rmhost_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "cleaned_reads/*.fastq.gz"
            ],
            [
                path: { "${params.rmhost_dir}/${meta.id}/report" },
                mode: 'copy',
                pattern: "*.json"
            ],
            [
                path: { "${params.rmhost_dir}" },
                mode: params.publish_dir_mode,
                pattern: "versions.yml"
            ]
        ]
    }

    withName: 'FASTQC_RMHOST' {
        publishDir = [
            [
                path: { "${params.qc_rmhost_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "*_fastqc.{html,zip}"
            ],
            [
                path: { "${params.qc_rmhost_dir}" },
                mode: params.publish_dir_mode,
                pattern: "versions.yml"
            ]
        ]
    }

    withName: 'MEGAHIT' {
        ext.args   = { params.megahit_options ? params.megahit_options + " -m ${task.memory.toBytes()}" : "-m ${task.memory.toBytes()}" }
        ext.prefix = { "MEGAHIT-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Assembly/MEGAHIT" },
            mode: params.publish_dir_mode,
            pattern: "*.{fa.gz,log}"
        ]
    }

    withName: 'METASPADES' {
        ext.args   = params.spades_options ? params.spades_options + ' --meta' : '--meta'
        ext.prefix = { "SPAdes-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Assembly/SPAdes" },
            mode: params.publish_dir_mode,
            pattern: "*.{fasta.gz,gfa.gz,fa.gz,log}"
        ]
    }

    // withName: 'MULTIQC_RMHOST' {
    //     publishDir = [
    //         [
    //             path: { "${params.qc_rmhost_dir}/MultiQC" },
    //             mode: 'copy',
    //             pattern: "*multiqc_report.html",
    //             saveAs: { "rmhost_shortreads_multiqc_report.html" }
    //         ]
    //     ]
    // }

    // RGI modules configuration
    // withName: 'RGI_PREPARECARDDB' {
    //     publishDir = [
    //         [
    //             path: { "${params.rgi_preparecarddb_dir ?: "${params.outdir}/RGI/database"}" },
    //             mode: params.publish_dir_mode ?: 'copy',
    //             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //         ]
    //     ]
    // }

    // withName: 'RGI_BWT' {
    //     ext.prefix = params.rgi_bwt_prefix ?: { "${meta.id}" }
    //     publishDir = [
    //         [
    //             path: { "${params.rgi_dir ?: "${params.outdir}/RGI"}/bwt/${meta.id}" },
    //             mode: params.publish_dir_mode ?: 'copy',
    //             pattern: "*/",
    //             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //         },
    //         [
    //             path: { "${params.rgi_dir ?: "${params.outdir}/RGI"}/bwt/${meta.id}/json" },
    //             mode: params.publish_dir_mode ?: 'copy',
    //             pattern: "*.json"
    //         },
    //         [
    //             path: { "${params.rgi_dir ?: "${params.outdir}/RGI"}/bwt/${meta.id}/tsv" },
    //             mode: params.publish_dir_mode ?: 'copy',
    //             pattern: "*.txt"
    //         }
    //     ]
    // }

    withName: 'RGI_PREPARECARDDB' {
        publishDir = [
            path: { "${params.rgi_dir}/database" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename }
        ]
    }
    withName: 'RGI_BWT' {
        publishDir = [
            path: { "${params.rgi_dir}/bwt" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename }
        ]
    }

    withName: 'YACHT_RUN' {
        publishDir = [
            [
                path: { "${params.yacht_results_dir}" },
                mode: params.publish_dir_mode,
                pattern: "yacht_results/*.xlsx"
            ],
            [
                path: { "${params.yacht_results_dir}/yacht_results/version" },
                mode: params.publish_dir_mode,
                pattern: "versions.yml"
            ]
        ]
    }

    withName: 'SOURMASH_FASTMULTIGATHER' {
        publishDir = [
            [
                path: { "${params.fastmultigather_dir}" },
                mode: params.publish_dir_mode,
                pattern: "fastmultigather/*_sourmash_gather.csv"
            ],
            [
                path: { "${params.fastmultigather_dir}/fastmultigather" },
                mode: params.publish_dir_mode,
                pattern: "versions.yml"
            ]
        ]
    }

    withName: 'PROCESS_READBASED_RESULTS' {
        publishDir = [
            [
                path: { "${params.processed_results_dir}/final_results" },
                mode: params.publish_dir_mode,
                pattern: "final_results"
            ],
            [
                path: { "${params.processed_results_dir}/final_results/version" },
                mode: params.publish_dir_mode,
                pattern: "versions.yml"
            ],
            [
                path: { "${params.yacht_results_dir}/yacht_results" },
                mode: params.publish_dir_mode,
                pattern: "temp_yacht_results"
            ]
        ]
    }

    withName: 'METAQUAST' {
        publishDir = [
            path: { "${params.outdir}/Assembly/${meta.assembler}/QC/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // CONTIG_ANALYSIS modules
    withName: BWAMEM2_INDEX_CONTIGS {
        ext.prefix = { "${meta.assembler}-${meta.id}.bwamem2_idx" }
        publishDir = [
            path: { "${params.outdir}/ContigsAnalysis/bwamem2_index/" },
            pattern: "bwamem2/*",
            mode: params.publish_dir_mode,
            enabled: false  // Don't publish index files by default
        ]
    }

    withName: BWAMEM2_MEM_CONTIGS {
        ext.prefix = { "${meta.assembler}-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/ContigsAnalysis/mapped_reads/" },
            pattern: "*.{bam,yml}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename }
        ]
    }

    withName: 'GENOMAD_ENDTOEND' {
        ext.prefix = { "${meta.assembler}-${meta.id}.geNomad" }
        ext.args = [
            "--cleanup",
            "--min-score ${params.genomad_min_score}",
            "--splits ${params.genomad_splits}",
            "${params.genomad_e2e_options}"
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/ContigsAnalysis/genomad/" },
                pattern: "*/*",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename }
            ],
            [
                path: { "${params.outdir}/ContigsAnalysis/genomad/" },
                pattern: "versions.yml",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename }
            ]
        ]
    }

    withName: 'GENOMAD_DOWNLOAD' {
        publishDir = [
            path: { "${params.outdir}/ContigsAnalysis/genomad/database/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> params.save_genomad_db ? filename : null }
        ]
    }

    withName: 'SKANI_SEARCH' {
        ext.prefix = { "${meta.assembler}-${meta.id}.skani" }
        ext.args = params.skani_search_options ? "${params.skani_search_options} --qi" : '--qi'
        publishDir = [
            path: { "${params.outdir}/ContigsAnalysis/skani/" },
            pattern: "*.{tsv,yml}",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename}
        ]
    }

    withName: 'SEQKIT_FX2TAB' {
        ext.prefix = { "${meta.assembler}-${meta.id}.seqkit" }
        ext.args = "-ngli -H -C N"
        ext.suffix = "txt"  // Don't compress by default
        publishDir = [
            path: { "${params.outdir}/ContigsAnalysis/contig_stats/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename}
        ]
    }

    withName: 'SAMTOOLS_COVERAGE' {
        ext.prefix = { "${meta.assembler}-${meta.id}.coverage" }
        publishDir = [
            path: { "${params.outdir}/ContigsAnalysis/coverage/" }, 
            pattern: "*.{txt,yml}", 
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename}
        ]
    }

    withName: TIARA_TIARA {
        ext.prefix = { "${meta.assembler}-${meta.id}.tiara" }
        ext.args = "--min_len ${params.tiara_min_length} --probabilities"
        publishDir = [
            path: { "${params.outdir}/ContigsAnalysis/Tiara/" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,yml}*",
            saveAs: { filename -> filename}
        ]
    }

    // CONTIG_ANNOTATION modules
    withName: 'PYRODIGAL' {
        ext.prefix = { "${meta.assembler}-${meta.id}.pyrodigal" }
        ext.args   = [
            params.annotation_pyrodigal_singlemode ? "-p single" : "-p meta",
            params.annotation_pyrodigal_closed ? "-c" : "",
            params.annotation_pyrodigal_forcenonsd ? "-n" : "",
            params.annotation_pyrodigal_usespecialstopcharacter ? '' : '--no-stop-codon',
            "-g ${params.annotation_pyrodigal_transtable}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/ContigsAnalysis/annotation/pyrodigal/" },
            mode: params.publish_dir_mode,
            enabled: params.save_contig_annotations,
            pattern: "*.{faa,fna,gbk,score}.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PROKKA' {
        ext.prefix = { "${meta.assembler}-${meta.id}.prokka" }
        ext.args   = [
            "--kingdom ${params.annotation_prokka_kingdom}",
            "--gcode ${params.annotation_prokka_gcode}",
            "--mincontiglen ${params.annotation_prokka_mincontiglen}",
            "--evalue ${params.annotation_prokka_evalue}",
            "--coverage ${params.annotation_prokka_coverage}",
            params.annotation_prokka_retaincontigheaders ? "--force" : "--locustag PROKKA --centre CENTER",
            params.annotation_prokka_singlemode ? '' : '--metagenome',
            params.annotation_prokka_cdsrnaolap ? '--cdsrnaolap' : '',
            params.annotation_prokka_rawproduct ? '--rawproduct' : '',
            params.annotation_prokka_rnammer ? '--rnammer' : '',
            params.annotation_prokka_compliant ? '--compliant' : '',
            params.annotation_prokka_addgenes ? '--addgenes' : ''
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/ContigsAnalysis/annotation/prokka/" },
            mode: params.publish_dir_mode,
            enabled: params.save_contig_annotations,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GUNZIP {
        publishDir = [
            enabled: false
        ]
    }
}
