// conf/modules.config
process {
    withName: 'FASTQC_RAW' {
        publishDir = [
            [
                path: { "${params.qc_raw_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "*_fastqc.{html,zip}"
            ]
        ]
    }

    // withName: 'MULTIQC_RAW' {
    //     publishDir = [
    //         [
    //             path: { "${params.qc_raw_dir}/MultiQC" },
    //             mode: 'copy',
    //             pattern: "*multiqc_report.html",
    //             saveAs: { "raw_shortreads_multiqc_report.html" }
    //         ]
    //     ]
    // }

    withName: 'FASTP' {
        publishDir = [
            [
                path: { "${params.trim_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "*.fastq.gz"
            ],
            [
                path: { "${params.trim_dir}/${meta.id}/report" },
                mode: 'copy',
                pattern: "*.{json,html}"
            ]
        ]
    }

    withName: 'FASTQC_TRIMMED' {
        publishDir = [
            [
                path: { "${params.qc_trim_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "*_fastqc.{html,zip}"
            ]
        ]
    }

    // withName: 'MULTIQC_TRIMMED' {
    //     publishDir = [
    //         [
    //             path: { "${params.qc_trim_dir}/MultiQC" },
    //             mode: 'copy',
    //             pattern: "*multiqc_report.html",
    //             saveAs: { "trimmed_shortreads_multiqc_report.html" }
    //         ]
    //     ]
    // }

    withName: 'HOSTILE_CLEAN' {
        publishDir = [
            [
                path: { "${params.rmhost_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "cleaned_reads/*.fastq.gz"
            ],
            [
                path: { "${params.rmhost_dir}/${meta.id}/report" },
                mode: 'copy',
                pattern: "*.json"
            ]
        ]
    }

    withName: 'FASTQC_RMHOST' {
        publishDir = [
            [
                path: { "${params.qc_rmhost_dir}/${meta.id}" },
                mode: 'copy',
                pattern: "*_fastqc.{html,zip}"
            ]
        ]
    }

    // withName: 'MULTIQC_RMHOST' {
    //     publishDir = [
    //         [
    //             path: { "${params.qc_rmhost_dir}/MultiQC" },
    //             mode: 'copy',
    //             pattern: "*multiqc_report.html",
    //             saveAs: { "rmhost_shortreads_multiqc_report.html" }
    //         ]
    //     ]
    // }

    // RGI modules configuration
    withName: 'RGI_PREPARECARDDB' {
        publishDir = [
            [
                path: { "${params.rgi_preparecarddb_dir ?: "${params.outdir}/RGI/database"}" },
                mode: params.publish_dir_mode ?: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: 'RGI_BWT' {
        ext.prefix = params.rgi_bwt_prefix ?: { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.rgi_dir ?: "${params.outdir}/RGI"}/bwt/${meta.id}" },
                mode: params.publish_dir_mode ?: 'copy',
                pattern: "*/",
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.rgi_dir ?: "${params.outdir}/RGI"}/bwt/${meta.id}/json" },
                mode: params.publish_dir_mode ?: 'copy',
                pattern: "*.json"
            ],
            [
                path: { "${params.rgi_dir ?: "${params.outdir}/RGI"}/bwt/${meta.id}/tsv" },
                mode: params.publish_dir_mode ?: 'copy',
                pattern: "*.txt"
            ]
        ]
    }
}