process {
    withName: 'SOURMASH_FASTMULTIGATHER' {
        ext.args = ''   // Custom arguments for sourmash fastmultigather
        ext.prefix = '' // Custom prefix for output files
    }

    withName: 'SOURMASH_MANYSKETCH' {
        ext.args_sourmash = '' // Custom arguments for sourmash manysketch
        ext.args_python = ''   // Custom arguments for the Python script 0_zip_with_ksize_ok.py
    }

    withName: 'YACHT_RUN' {
        ext.args = '' // Custom arguments for yacht run
        // ext.prefix = '' // You can also set a custom prefix here if needed
    }

    withName: 'MERGE_PAIREDENDSEQS' {
        ext.prefix = '' // Custom prefix for the merged directory and file
    }

    withName: 'PROCESS_READBASED_RESULTS' {
        // ext.prefix = '' // Custom prefix if the Python scripts support it
        ext.py_args_script1 = '' // Arguments for 1_process_sourmash.py
        ext.py_args_script2 = '' // Arguments for 2_process_yacht.py
        ext.py_args_script3 = '' // Arguments for 3_concat_yacht.py
        ext.py_args_script4 = '' // Arguments for 4_merged_yacht_sourmash.py
    }
    withName: 'HOSTILE_FETCH'
    {
        ext.args = '--name human-t2t-hla.argos-bacteria-985_rs-viral-202401_ml-phage-202401'
        ext.prefix = '' // Custom prefix for output files
    }
}