params {
    // Copy control flags
    enable_copymergedseqs = false
    enable_copysketch = true
    enable_copyintermediate = true
    
    // Cleanup configuration
    cleanup = false  // Default value is false
    cleanup_patterns = [
        'work',
        'intermediate_files',
        '.nextflow*',
        '.command.*',
        'process_tmp'
    ]
    
    // Optional email configuration
    email = null // Set this to receive email notifications
}
